body
{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #fff;

  margin-left: 0%;
  width: 100%;

  background-image: url('pixels/inside.jpg');
  background-repeat:no-repeat;
  background-position:left bottom;
  background-attachment:fixed;
}

h1
{
    text-align: center;
    margin:auto;
    font-weight: 800;
    color: #ddd;
    text-transform: uppercase;
}

h2
{
  color: lime;
  font-weight: 700;
}

a:link
{
  color: lime;
}

section
{
  border-radius: 10px;
  background-color: #444;
  padding: 10px;
  margin: 10px;
}

.footer
{
    font-weight: 300;
	color: #BBB;
	text-align:center;
}
.footer a:link
{
    color: #BBB;
}

a:visited
{
	color:lime;
	text-decoration:none;
}

a:hover
{
	color:orange;
}

img
{
	border: 0px;
}
